* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

/* header */

#cabecalho_home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(255, 152, 0, 0.3);
    transition: background 0.4s;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.menu-header {
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    padding: 8px;
}

.menu-header span {
    width: 38px;
    height: 5px;
    background: #ff9800;
    border-radius: 4px;
    transition: 0.4s;
}

.menu-header:hover span {
    background: #0a0a0a;
}


/* logo  */

#jcb-logo {
    width: 94px;
    height: 36px;
    transition: 0.3s;
}

#jcb-logo:hover {
    transform: scale(1.1);
}

/* alterar tema */

.alterar-tema {
    margin-left: auto;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.alterar-tema:hover {
    background: rgba(255, 152, 0, 0.2);
}

.theme-icon {
    width: 38px;
    height: 38px;
    display: none;
}

.theme-icon.active {
    display: block;
}

/* Modo claro */

body.light {
    background: #f8f9fa;
    color: #212529;
}

body.light #cabecalho_home {
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

body.light .menu-header span {
    background: #000;
}

body.light .alterar-tema:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* search  */
.container_input_pesquisar {
    position: relative;
}

.input-search {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 0px 12px;
    height: 42px;
    width: 46px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: none !important;
}

.input-search:hover,
.container_input_pesquisar.active .input-search {
    width: 300px;
    border-color: #ff9800;
    background: rgba(255, 255, 255, 0.92);
    box-shadow: 0 0 14px rgba(255, 152, 0, 0.35);
}

/* Lupa */
.img-lupa img {
    width: 19px;
    height: 19px;
    flex-shrink: 0;
}

/* Input de texto */
.input_search {
    width: 0;
    opacity: 0;
    border: none;
    background: transparent;
    outline: none;
    margin-left: 10px;
    font-size: 15px;
    color: #000;
    transition: all 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
    flex: 1;
}

.input-search:hover .input_search,
.container_input_pesquisar.active .input_search {
    width: 100%;
    opacity: 1;
}

.input_search::placeholder {
    color: #666;
    font-size: 14.5px;
}


/* footer  */

.footer-home {
    width: 100%;
    background: black;
    margin-top: 60px;
}

.footer-divider {

    transition: background 0.3s;
    width: 90%;
    margin: 0 auto 20px auto;
    border: 0;
    border-top: 1px solid #444;
}

.container-footer {

    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


body.light .footer-divider {
    background: black;
}

/* logo footer  */

#jcb-logo-footer {
    width: 94px;
    height: 36px;
    transition: 0.3s;
}

#jcb-logo-footer:hover {
    transform: scale(1.1);
}

.logo-footer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    display: flex;
}

.footer-left {
    justify-content: flex-start;
}

.footer-center {
    justify-content: center;
}

.footer-right {
    justify-content: flex-end;
}


/* right  */

.right-list {
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 0 20px;
    margin-top: 50px;
}

.footer-right li a {
    text-decoration: none;
    font-size: 16px;
    /* color: #fff; */
    transition: 0.3s;
    white-space: nowrap;
}

.footer-right ul li a:hover {
    color: #ff9800;
}

body.light .footer-right ul li a {
    color: #000;
}

body.light .footer-right ul li a:hover {
    color: #ff9800;
}

.footer-right {
    margin-left: auto;
}

/* left  */


.left-list {
    list-style: none;
    padding: 0 20px;
}

.footer-left li a {
    text-decoration: none;
    font-size: 16px;
    /* color: #fff; */
    transition: 0.3s;
    white-space: nowrap;
}

.footer-left ul li a:hover {
    color: #ff9800;
}

body.light .footer-left ul li a {
    color: #000;
}

body.light .footer-left ul li a:hover {
    color: #ff9800;
}






/* carrossel */

.carrossel-3d-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 260px;
    height: 260px;
    perspective: 1000px;
}

/* scene */
#scene {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    /* diagonal perfeita */
    transform: rotateX(42deg) rotateY(28deg) rotateZ(15deg);
    transition: transform 1.1s cubic-bezier(0.3, 0.8, 0.4, 1);
}

/* itens do carrossel */
.item {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -70px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
    border: 5px solid rgba(255, 255, 255, 0.25);
    backface-visibility: hidden;
}

/* Imagens */
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item::after {
    /* ver isso aqui dps  */
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    width: 120%;
    height: 80px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    transform: rotateX(70deg);
    opacity: 0.5;
}

/* label  */

.label {
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    backdrop-filter: blur(8px);
    white-space: nowrap;
}


/* hero*/
.hero-area {
    position: relative;
    width: 100vw;         
    max-width: 1350px;
    height: 60vh;         
    max-height: 650px;    
    overflow: hidden;     
    
   
}

.hero-bg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;      
}


/* responsividade */

@media (max-width: 768px) {
    .carrossel-3d-container {
        width: 240px;
        height: 180px;
        bottom: 10px;
        right: 10px;
    }

    .item {
        width: 110px;
        height: 110px;
        margin-left: -55px;
        margin-top: -55px;
    }

    .hero-area {
        height: 420px;
    }
}